#wordCounter-app{
    min-height: 300px;
    min-width: 100%;
    max-width: 500px;
    padding: 5px;
    background: $textBg;
}

.number-app{
    font-size: $numberSize;
}

.app_ff{
    font-family: $appFontFamily;
}

.app_ff-text{
    font-family: $appFontFamily_text;
}